captivate/booper.badge.lgbt/src/
captivate/booper.badge.lgbt/CaptivateDesignCenter.ser.bak
.python-version
captivate/booper.badge.lgbt_captivate/.plotProps
captivate/booper.badge.lgbt_captivate/CaptivateDesignCenter.ser.bak
programming/code_and_cinit.txt
programming/.infoa.tmp.txt
programming/Log/
programming/test.txt
