captivate/booper.badge.lgbt/src/
captivate/booper.badge.lgbt/CaptivateDesignCenter.ser.bak
.python-version
captivate/booper.badge.lgbt_captivate/.plotProps
captivate/booper.badge.lgbt_captivate/CaptivateDesignCenter.ser.bak
